.navbar-brand{
    font-size: x-large ;
    margin-left: 10px;
}

.nav-item{
    font-size: large;
    margin-right: 10px;
}


.central
{
    position:fixed;
    top: 50%;
    margin-left: 30%;
    
    
}

.num_class
{
    width: 10%;
}